@import "../../assets/scss/media";

.accessContainer {
	position: relative;
}

.nextButton {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.accessHeader {
	margin: 2rem;
}

.accessSelection {
	display: flex;
}

.header {
	margin: 0 0 1rem 0;
}

.access {
	display: flex;
	flex-basis: 33%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
