.raceSelection {
	margin: 2rem;
}

.tab {
	width: 100%;
}

.header {
	margin: 0 0 1rem 0;
}

.raceButton {
	width: 100%;
}

.collapse {
	margin-top: -1px;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	padding: 1rem;
}
